In [25]:
!pip install psycopg2-binary
!pip install sqlalchemy

Requirement already satisfied: psycopg2-binary in d:\github\python-streamlit\.venv\lib\site-packages (2.9.6)
Requirement already satisfied: sqlalchemy in d:\github\python-streamlit\.venv\lib\site-packages (2.0.9)
Requirement already satisfied: typing-extensions>=4.2.0 in d:\github\python-streamlit\.venv\lib\site-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\github\python-streamlit\.venv\lib\site-packages (from sqlalchemy) (2.0.2)

In [26]:
from sqlalchemy.engine import URL
import pandas as pd

In [27]:
connection_string = "DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=Northwind;UID=Sa;PWD=Pass@Word1"
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})

from sqlalchemy import create_engine
engine = create_engine(connection_url)

In [28]:
# Test query - select all data from the products table
query = "SELECT * FROM Products;"

df = pd.read_sql(query, engine)
print(df.head())

   ProductID                   ProductName  SupplierID  CategoryID
0          1                          Chai           1           1  \
1          2                         Chang           1           1
2          3                 Aniseed Syrup           1           2
3          4  Chef Anton's Cajun Seasoning           2           2
4          5        Chef Anton's Gumbo Mix           2           2

       QuantityPerUnit  UnitPrice  UnitsInStock  UnitsOnOrder  ReorderLevel
0   10 boxes x 20 bags      18.00            39             0            10  \
1   24 - 12 oz bottles      19.00            17            40            25
2  12 - 550 ml bottles      10.00            13            70            25
3       48 - 6 oz jars      22.00            53             0             0
4             36 boxes      21.35             0             0             0

   Discontinued
0         False
1         False
2         False
3         False
4          True

In [32]:
# 1. Get the names and the quantities in stock for each product.
query1 = """
SELECT ProductName,UnitsInStock  
FROM Products;
"""
pd.read_sql(query1, engine)

                        ProductName  UnitsInStock
0                              Chai            39
1                             Chang            17
2                     Aniseed Syrup            13
3      Chef Anton's Cajun Seasoning            53
4            Chef Anton's Gumbo Mix             0
..                              ...           ...
72                       Röd Kaviar           101
73                    Longlife Tofu             4
74             Rhönbräu Klosterbier           125
75                     Lakkalikööri            57
76  Original Frankfurter grüne Soße            32

[77 rows x 2 columns]

In [33]:
# 2. Get a list of current products (Product ID and name).
query2 = """
SELECT ProductID, ProductName
FROM Products;
"""
pd.read_sql(query2, engine)

    ProductID                      ProductName
0          17                     Alice Mutton
1           3                    Aniseed Syrup
2          40                 Boston Crab Meat
3          60                Camembert Pierrot
4          18                 Carnarvon Tigers
..        ...                              ...
72          7  Uncle Bob's Organic Dried Pears
73         50                 Valkoinen suklaa
74         63                     Vegie-spread
75         64        Wimmers gute Semmelknödel
76         47                    Zaanse koeken

[77 rows x 2 columns]